.Subheader {
  position: relative;
  background: var(--color-lighter);
  display: flex;
  align-items: center;
}

.Subheader .Breadcrumb {
  position: absolute;
  top: 0.5rem;
  inset-inline-start: 0;

  @variant md {
    top: 1.25rem;
    inset-inline-start: 1.25rem;
  }
}

.Subheader--titleOnly {
  min-height: 21.25rem;
  padding: 1.5rem 0;

  @variant md {
    min-height: 15.625rem;
    padding: 2rem 0;
  }
}

.Subheader--centered {
  text-align: center;
}

.Subheader-title {
  @apply h1;
  color: var(--color-black);
}
