.Hero {
  display: grid;
  background-color: white;
  gap: 8px;
  grid-template-areas:
    'a'
    'b'
    'c';

  @screen md {
    grid-template-areas:
      'a b'
      'a c';
    gap: 0;
  }

  @screen lg {
    grid-template-columns: 60% 1fr;
  }

  @screen xl {
    grid-template-rows: repeat(2, 284px);
  }

  &--split {
    @screen md {
      grid-template-areas: 'a b';
    }
    @screen lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen xl {
      grid-template-rows: 568px;
    }
    .Hero-item {
      flex-direction: column;
      .Hero-image {
        min-width: 100%;
        height: 100%;
      }
    }
  }

  &--full {
    grid-template-columns: 1fr;
  }

  &-item {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 0 8px;

    &:nth-child(1) {
      grid-area: a;
      flex-direction: column;
      padding: 0;
      .Hero-image {
        min-width: 100%;
        height: 100%;
      }
    }
    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    @screen md {
      padding: 0;
    }
  }

  &-slide {
    position: absolute;
    inset: 0px;
    display: flex;
    width: 100%;
    pointer-events: none;
  }

  &-contain {
    padding: 24px;
    background-color: var(--theme-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    @screen lg {
      position: absolute;
      padding: 24px 48px;
      bottom: 0;
      left: 0;
      max-width: 80%;
      width: 100%;
    }

    @screen xl {
      padding: 32px 24px;
      max-width: 60%;
    }
  }

  &-title {
    font-weight: bold;
  }

  &-desc {
    font-size: var(--font-size-xs);
  }

  &-image {
    width: 100%;
    max-width: 30%;

    @screen lg {
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @screen lg {
        object-position: right center;
      }
    }
  }
}
