.DeliveryMode {
  background: var(--white);
  border-radius: rem-convert(8px);
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  &.checked,
  &.selected {
    background: var(--theme-light);
    border: 1px solid var(--theme-medium);
  }

  label {
    cursor: pointer;
  }

  &-title {
    @apply paragraph-2;
    font-weight: 600;
    color: var(--black);
    margin-bottom: rem-convert(2px);
  }

  &-description {
    @apply paragraph-6;
    font-weight: 400;
    color: var(--grey);
  }
  &-moduleDescription {
    @apply paragraph-4;
    font-weight: 400;
    color: var(--grey);
    margin-top: 17px;
  }

  &-price {
    @apply paragraph-4;
    font-weight: 600;
    color: var(--black);
  }

  &-content {
    display: flex;
    align-items: flex-start;
    padding: rem-convert(16px);
    span:not(.Tag) {
      display: block;
    }
    > span:last-child {
      flex-grow: 1;
    }
    .Radio {
      margin-top: 4px;
      margin-right: 8px;
      visibility: hidden;
      max-width: 0;
      @screen md {
        visibility: visible;
        max-width: initial;
      }
    }
  }
}
