@layer components {
  .StockTag {
    font-size: var(--text-sm);
    color: var(--color-grey-dark);
    font-weight: var(--font-weight-normal);

    &:before {
      content: "";
      display: inline-block;
      width: 0.5625rem;
      height: 0.5625rem;
      border-radius: 100%;
      margin-inline-end: 0.25rem;
      background-color: var(--color-grey-dark);
    }
  }

  .StockTag--in::before {
    background-color: var(--color-success);
  }
  .StockTag--low::before {
    background-color: var(--color-warning);
  }
  .StockTag--out::before {
    background-color: var(--color-error);
  }
}
