lta.FieldCode {
  border: 1px solid var(--theme);
  border-radius: 8px;
  position: relative;
  display: inline-flex;
  overflow: hidden;

  &:before {
    display: block;
    width: 10px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10px);
  }

  input {
    appearance: none;
    text-align: center;
    width: 20px;
    height: 26px;
    padding: 16px 14px;
    box-sizing: content-box;

    @screen lg {
      width: 26px;
    }
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &:has(:placeholder-shown) {
    &:before {
      content: '';
    }
  }

  &:focus-within {
    outline-offset: 0;
    outline: 1px solid var(--theme);

    &:before {
      content: none;
    }
  }
  &--error {
    .FieldInput-label {
      color: var(--error-dark);
    }

    .FieldInput-input {
      border: 1px solid var(--error-light);
      color: var(--error);

      &:hover {
        background-color: var(--error-lightest);
      }

      &:focus-visible {
        outline: 1px solid var(--error-dark);
      }
    }

    ::placeholder {
      color: var(--error);
    }
  }
}

.error .FieldCode {
  border-color: var(--error-light);
  color: var(--error-light);
}
