.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  @apply rounded-lg;
  z-index: 0;
  .ButtonWishList {
    transition: 0.2s;
    display: none;

    @screen sm {
      display: block;
    }
    svg {
      max-width: 35px;
    }
    &:focus-visible {
      outline: none;
    }

    .in-wishlist-icon {
      display: none;

      &:hover {
        svg {
          color: var(--theme-medium);
        }
      }
    }

    .not-in-wishlist-icon {
      display: inline-block;

      &:hover {
        svg {
          color: var(--theme);
        }
      }
    }

    &.in-wishlist {
      .in-wishlist-icon {
        display: inline-block;
      }

      .not-in-wishlist-icon {
        display: none;
      }
    }
  }

  &-header {
    margin-bottom: 0.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 1;
  }

  &-tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  .ProductCard-mainContent {
    width: 100%;
  }

  &-img {
    overflow: hidden;
    height: 187px;
    @screen sm {
      height: 280px;
    }

    &:focus-visible {
      outline: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all cubic-bezier(0, 0, 0, 0.7) 0.3s;
    }
  }

  &-footer {
    margin-top: rem-convert(13px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;

    @screen md {
      flex-direction: row;
      align-items: center;
    }

    &Left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 13px;

      @screen sm {
        margin-bottom: 0;
        gap: 10px;
      }
    }

    &Right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .Colors {
    display: flex;
    gap: 6px;
    align-items: center;

    &-item {
      border-radius: 100%;
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
    }

    &-others {
      margin-left: 2px;
    }
  }

  .Rating {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;

    &-mark {
      display: flex;
      gap: 4px;
      max-width: 92px;
      svg {
        color: var(--black);
      }
      .star-empty {
        svg {
          color: var(--grey-lighter);
        }
      }
    }
    &-reviewCount {
      margin-top: 4px;
      text-transform: uppercase;
      color: var(--grey);

      @screen md {
        font-size: var(--font-size-indication);
        letter-spacing: var(--letter-spacing-indication);
      }
    }
  }

  &-desc {
    padding: 16px;

    @screen sm {
      padding: 24px;
    }
  }

  &-ref {
    margin-top: 8px;
  }

  &-title {
    @apply h5;
    color: var(--black);
    text-decoration: none;
    transition: inherit;
    display: block;
  }

  &-subTitle {
    color: var(--grey);
  }

  &-price {
    @apply paragraph-1;
    font-weight: 600;
    color: var(--black);
    position: relative;
    line-height: normal;
    margin-top: 0;
  }

  &-originalPrice {
    color: var(--black);
    font-size: var(--font-size-paragraph-7);
    text-decoration-line: line-through;
    font-family: var(--font-family-paragraph-6);
  }

  &:hover,
  &:focus-visible {
    .ProductCard-img {
      img {
        transform: scale(1.075);
      }
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;

    .ProductCard-img {
      outline: 2px solid theme('colors.gray.400');
    }
  }
}
