.MobileDrawer {
  @apply transition-transform translate-y-full;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: rem-convert(40px);
  padding-right: rem-convert(40px);
  background: var(--white);
  padding-top: rem-convert(50px);
  padding-bottom: rem-convert(42px);
  border-radius: rem-convert(20px) rem-convert(20px) 0px 0px;
  z-index: 20;

  &.is-open {
    @apply translate-y-0;
  }

  &:before {
    content: '';
    position: absolute;
    top: rem-convert(16px);
    left: calc(50% - 21px);
    height: rem-convert(5px);
    width: rem-convert(42px);
    border-radius: rem-convert(50px);
    background-color: var(--grey);
  }

  &-header {
  }

  &-close {
    width: rem-convert(38px);
    height: rem-convert(38px);
    position: absolute;
    top: 0;
    right: 0;
    padding: rem-convert(10px);
    box-sizing: content-box;
  }

  /* Navigation au clavier */
  &:has(label:focus) {
    @apply translate-y-0;
  }

  &-overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    opacity: 0.8;
    background-color: var(--black);
  }
}

body.locked {
  &:has(.MobileDrawer.is-open.sm\:reset-drawer) {
    @apply sm:overflow-auto;
  }
  &:has(.MobileDrawer.is-open.md\:reset-drawer) {
    @apply md:overflow-auto;
  }
  &:has(.MobileDrawer.is-open.lg\:reset-drawer) {
    @apply lg:overflow-auto;
  }
  &:has(.MobileDrawer.is-open.xl\:reset-drawer) {
    @apply xl:overflow-auto;
  }
}
